PORT=3000
DATABASE_URL=postgresql://ower:wedrfgbhgfds@ep-wild-unit-pooler.ap-southeast-1.aws.neon.tech/neondb
JWT_ACCESS_SECRET=your_secret
JWT_ACCESS_EXPIRES_IN=1m

JWT_REFRESH_SECRET=your_secret
JWT_REFRESH_EXPIRES_IN=2m